 
# Virtual Environment
crudapp/
env/
venv/
.venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
pip-log.txt
pip-delete-this-directory.txt

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo